In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('ulus.csv')
df.head()

In [ ]:
df = pd.read_csv('ulus.csv', sep=';')
df.head()

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df['сел']

In [ ]:
df['area'] = df['Площадь, тыс.км2']

In [ ]:
def replace_comma(s):
    return s.replace(',','.') if type(s)==str else '0'

In [ ]:
df['area']=df['Площадь, тыс.км2'].apply(replace_comma)

In [73]:
df['area']=df['area'].astype(float)

# Задание 1

In [ ]:
df.dtypes

In [ ]:
df.drop([24], inplace=True)

In [ ]:
df['density'] = df['Численность населения\xa0(2002\xa0 г.), чел']/(1000*df['area'])

In [ ]:
df.drop(columns=['desnity'])

In [72]:
df['Улус'][df['density'].idxmin()]

'Оленекский эвенкийский национальный'

# Задание 2

In [ ]:
df['Расст до Якт воздушным'][17]

In [ ]:
df['Расст до Якт наземным'][0] = 1950

In [ ]:
df['Расст до Якт наземным'][0] = 1950

In [ ]:
df['Расст до Якт наземным'][12] = 334

In [ ]:
df['Расст до Якт наземным'][13] = 1070

In [ ]:
df['Расст до Якт воздушным']=df['Расст до Якт воздушным'].astype(int)

In [ ]:
df['Расст до Якт наземным']=df['Расст до Якт наземным'].astype(int)

In [ ]:
df['relation'] = df['Расст до Якт наземным']/df['Расст до Якт воздушным']

In [71]:
df['Улус'][df['relation'].idxmax()]

'Аллаиховский'

# Задание 3